.customer-title {
  margin-bottom: 30px;
}

.customer-list {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 60px;

  & .icon {
    fill: #afb1b8;
  }

  // & .customer-item:not(:last-child) {
  //   margin-right: 30px;
  // }
  // & .customer-item {
  //   margin-right: 30px;
  //   margin-bottom: 30px;
  // }
}

.customer-item {
  @include centeredFlex();
  margin-right: 30px;
  margin-bottom: 30px;

  width: 209px;
  height: 90px;
  color: inherit;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:nth-child(2n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }

  &:hover .icon {
    fill: $accent-color;
    transition: 250ms $timing-function;
  }

  &:hover {
    border: 1px solid $accent-color;
    transition: 250ms $timing-function;
  }
}

.customer-link {
  height: 40px;
  display: block;
}
