.section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.feature-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  & .feature-item:not(:last-child) {
    margin-right: 29px;
  }

  & .title {
    margin-top: 30px;
    margin-bottom: 0;
  }

  & .subtitle {
    margin-top: 10px;
    margin-bottom: 0;

    color: $secondary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
  }
}

.feature-item .icon {
  display: block;
}

.bg-container {
  @include centeredFlex();
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
