.button-filter {
  display: inline-block;
  margin-right: 5px;
  transition: 250ms $timing-function;

  border: none;
  border-radius: 4px;
  outline: none;

  background-color: #f5f4fa;
  color: $primary-text-color;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 6;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    &:nth-last-child(n + 3) {
      margin-bottom: 15px;
    }
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
  }
}

.button-oll {
  width: 73px;
}

.button-site {
  width: 128px;
}

.button-app {
  width: 145px;
}

.button-design {
  width: 103px;
}

.button-marketing {
  width: 130px;
}

.filter {
  // text-align: center;
  padding-bottom: 40px;
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
