.prodject-list {
  display: block;
  padding-bottom: 60px;
  // display: flex;
  // flex-wrap: wrap;

  & .prodject-title {
    margin-bottom: 4px;
    margin-top: 0;

    color: $primary-text-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  & .subtitle {
    margin-top: 0;
    margin-bottom: 0;

    color: $secondary-text-color;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
  }

  & .text {
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0; */
    transform: translateY(100%);
    transition: transform 250ms $timing-function;

    width: 370px;
    height: 294px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 63px 24px;

    color: $primary-white-color;
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  }

  & .link {
    text-decoration: none;
    display: block;
  }

  & .item {
    width: 450px;
    // width: 370px;
    // margin-right: 30px;
    // margin-bottom: 30px;
  }

  & .item:not(:last-child) {
    margin-bottom: 30px;
  }

  // & .item:nth-child(3n) {
  //   margin-right: 0;
  // }

  // & .item:nth-last-child(-n + 3) {
  //   margin-bottom: 0;
  // }

  & .item:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.prodject-image {
  position: relative;
  overflow: hidden;
}

.item:hover .text {
  /* opacity: 1; */
  transform: translateY(0);
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
